{% extends "base.html" %}
{% block title %} Movie Review Sentiment Analysis {% endblock %}

{% block content %}


<div class="jumbotron vertical-center">
    <div class="container">
    <form>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Type your Review Here</span>
            </div>
            <textarea class="form-control" id="review" name="review" rows="20" aria-label="Paste the Review Here"></textarea>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <button type="button"  onclick="AnalyzeSentiment()" class="btn btn-outline-primary center"> Analyze Sentiment</button>
            </div>
        </div>
    </form>
</div>
</div>

<script>
function AnalyzeSentiment(){

    review = $('#review').val();
    if (!review) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Empty movie review cannot be analyzed.',
        })
    } else {
        Swal.fire({
          text: 'Analyzing Review...',
          width: 350,
          padding: '3em',
          imageUrl: "static/images/popcorn.gif",
          showCancelButton: false,
          showConfirmButton: false,
          background: 'white',
          backdrop: `
            rgba(0,0,123,0.4)
            left top
            no-repeat
          `
        })
        setTimeout(function(){
            $.ajax({
              type : 'POST',
              url : "{{url_for('predict')}}",
              data: JSON.stringify(review),
              contentType: "application/json",
              cache: false,
              dataType: 'json',
              success: function(data) {
                cleaned_review = data['review_cleaned'][0]
                predict = data['predict']
                probablity = data['proba']
                confidence = probablity[predict]
                sentiment = predict == 1 ? 'Positive' : 'Negative'
                text = 'The Model is ' + probablity[predict] + '% Confident About The Review Being ' + sentiment
                image = 'static/images/' + sentiment + predict + '.png'
                Swal.fire({
                  title: text,
                  width: 800,
                  imageUrl: image,
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'View Cleaned Review'
                }).then((result) => {
                  if (result.isConfirmed) {
                    Swal.fire({
                      width: 1200,
                      title: 'Text After cleaning',
                      text: cleaned_review,
                    })
                  }
                })
              }
            })
        }, 1500);
    }
}

</script>

{% endblock %}